* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: rgba(188, 178, 225, 1);
    color: white;
}

/*************************************************************************** NAVBAR ***************************************************************************/

.navbar {
  background-color: rgba(250, 136, 193, 0.53) !important; /* Noir avec transparence */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /*la navbar prend toute la largeur */
  z-index: 1000;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  font-weight: lighter;
  font-style: normal;
  color: #fff;
  text-shadow: 0 0 10px rgba(48, 147, 167, 0.8); /* Effet lumineux */
  animation: blink 1s infinite; /* Animation clignotante */
}

/* Animation de clignotement */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Ligne LED bleu en bas de la navbar */
.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgb(252, 43, 43),
    rgb(245, 52, 52),
    rgba(248, 105, 105, 0.097));
  background-size: 200% 100%; /* Prépare l'animation */
  animation: led 2s linear infinite; /* Animation de défilement */
}

/* Animation pour la ligne LED */
@keyframes led {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Alignement du texte à droite et du logo à gauche */
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  margin-left: auto; /* Aligne les liens du menu à droite */
}

/* Style des éléments du menu */
.navbar-nav .nav-item {
  margin-right: 20px; /* Espacement entre les liens */
}

.navbar-nav .nav-link {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: white !important;
}



.navbar-toggler-icon {
  color: white; /* Par exemple, couleur rouge au survol */
}

/*************************************************************************** FIN NAVBAR *************************************************/


body {
    font-family: Arial, sans-serif;
}

/**************************************************** Section hero **********************************************************************/
#hero {
  position: relative;
  height: 100vh;
  background-image: url('../img/cerisier.jpg'); /* Remplacez par l'URL de votre image */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px; /* Pour un petit espacement interne */
}

.hero-content {
  max-width: 877px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.06); /* Couche sombre pour améliorer la lisibilité */
  border-radius: 10px;
  z-index: 2; /* S'assurer que le texte reste devant le carrousel */
  width: 90%; /* Permet au contenu de ne pas être trop large sur les petits écrans */
}

.hero-title {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 5vw; /* Taille de police flexible, s'ajuste à la taille de l'écran */
  font-weight: 800;
  font-style: italic;
  margin-bottom: 20px;
}

.hero-description {
  color: rgba(12, 30, 73, 1);
  font-family: "Inter", sans-serif;
  font-size: 2.5vw; /* Taille flexible pour le texte */
  font-weight: bold;
  font-style: italic;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 15px 30px;
  font-size: 1rem;
  color: white;
  background-color: rgba(236, 34, 31, 1); /* Couleur du bouton */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #e55a4e; /* Changement de couleur du bouton au survol */
}

/* Carrousel Styles */
#hero .carousel_hero {
  width: 80%;
  height: 400px; /* Hauteur fixe du carrousel */
  /* Ou bien, utilisez une hauteur relative à la taille de l'écran */
  /* height: 50vh;  */  /* 50% de la hauteur de la fenêtre visible */
  overflow: hidden;
  opacity: 50%;
}

@media (max-width:576px){
  .carousel_hero {
    display: none;
  }
}

.carousel-images {
  display: flex;
  width: 400%; /* 4 images sur une seule ligne */
  animation: slide 20s infinite linear;
}

.carousel-images img {
  width: 25%; /* Chaque image prendra 25% de la largeur de la fenêtre */
  object-fit: cover; /* L'image occupera bien l'espace sans déformation */
  height: 100vh; /* L'image occupe toute la hauteur de la fenêtre */
}

/* Animation de défilement automatique du carrousel */
@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  100% { transform: translateX(0); }
}

/* Media Queries pour rendre la section responsive */
@media (max-width: 768px) {
  .hero-title {
      font-size: 7vw; /* Réduit la taille du titre sur les écrans moyens */
  }
  
  .hero-description {
      font-size: 4vw; /* Réduit la taille de la description sur les écrans moyens */
  }

  .hero-btn {
      padding: 12px 25px; /* Bouton plus petit sur mobile */
      font-size: 0.9rem; /* Réduit la taille du texte du bouton */
  }

  .carousel-images img {
      width: 100%; /* Chaque image prend la largeur totale de l'écran sur mobile */
      height: 50vh; /* Hauteur ajustée pour mobile */
  }
}

@media (max-width: 480px) {
  .hero-title {
      font-size: 10vw; /* Encore plus petit sur les écrans très petits */
  }

  .hero-description {
      font-size: 5vw; /* Taille plus petite pour le texte */
  }

  .carousel-images img {
      height: 40vh; /* Hauteur des images plus petites sur les très petits écrans */
  }
}


 /* Personnalisation de l'icône et du texte */
 .advantage-icon {
  font-size: 3rem;
  color: #ff6f61;
}

.advantage-item {
  background-color: #f9f9f961;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.advantage-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.point_cle{
  width: 70%;
  align-items: center;
}

/******************************************************** Film vedette ******************************************************************/

* Styles personnalisés pour les cartes */
        .custom-card {
            width: 100%;
            max-width: 280px; /* Réduit la largeur des cartes */
            margin: 0 auto; /* Centre les cartes */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-color: #333;
            border: 1px solid #444;
        }

        /* Effet de hover */
        .custom-card:hover {
            transform: scale(1.05); /* Agrandit la carte légèrement */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ajoute une ombre autour de la carte */
            background-color: #f9f9f969;
        }

        .custom-card img {
            max-height: 200px; /* Limite la taille des images */
            object-fit: cover; /* Remplissage de l'image sans distorsion */
        }

        /* Corps de la carte */
        .custom-card-body {
            padding: 10px;
            text-align: center;
            color: white;
        }

        .custom-card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .custom-btn {
            background-color: #970381;
            border: none;
            color: white;
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .custom-btn:hover {
            background-color: #f40612;
        }

        /* Style de l'overlay pour la vidéo */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .overlay-content {
            position: relative;
            width: 80%;
            height: 80%;
        }
        .overlay iframe {
            width: 100%;
            height: 100%;
        }
        .close-btn {
            position: absolute;
            top: 20px;
            right: 10px;
            background: none;
            border: none;
            color: #020000;
            font-size: 30px;
            cursor: pointer;
        }
/*******************************************************************Fin film vedette ****************************************************/
/*****************************************************Abonnements ***********************************************************************/

.abonnement-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

/* Styles pour chaque bandeau */
.bandeau {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.bandeau:hover {
  transform: scale(1.05);
}

.bandeau h2 {
  margin-bottom: 15px;
}

.bandeau .prix {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.bandeau .details {
  text-align: left;
  margin-bottom: 20px;
}

.bandeau .details p {
  margin-bottom: 10px;
  border-bottom: solid 1px grey;
}

.bandeau button {
  padding: 10px 20px;
  background-color: #f39c12;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bandeau button:hover {
  background-color: #e67e22;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .abonnement-container {
      flex-direction: column;
      align-items: center;
  }

  .bandeau {
      width: 80%;
      margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .bandeau {
      width: 100%;
  }
}

/***************************************************** Avis clients *********************************************************************/
.avis-clients {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.247);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.avis-clients h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
  color: #333;
}

.avis-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.avis-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.avis-card:hover {
  transform: translateY(-5px);
}

.avis-text {
  font-size: 1.1em;
  color: #020000;
  margin-bottom: 20px;
}

.client-name,.client-location{
  color: #000000;
}

@media (max-width: 768px) {
  .avis-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne sur les écrans moyens */
  }
}

@media (max-width: 480px) {
  .avis-container {
    grid-template-columns: 1fr; /* 1 carte par ligne sur les petits écrans */
  }
}

/*********************************************titre genre *******************************************************************************/

.presentation_genre{
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 30px;

}

/* genre */

.carte {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease;
  text-align: center;
}

.carte:hover {
  transform: scale(1.05);
}

.carte img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carte h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.description {
  flex-grow: 1; /* Permet à chaque <p> de grandir et remplir l'espace restant */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.carte button {
  padding: 10px 20px;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 5px;
   margin-top: auto; /* Le bouton sera aligné en bas de la carte */
   width: 100%; /* Ou ajustez en fonction du besoin */
   font-size: 1rem; /* Ajustez la taille du texte si nécessaire */
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.carte button:hover {
  background-color: #c0392b;
}

@media (max-width: 911px) {
 .carte button {
      font-size: 0.9rem; /* Réduit la taille du texte */
      padding: 8px 16px; /* Ajuste les paddings */
      width: 100%; /* Assure que les boutons prennent toute la largeur disponible */
  }

  .carte {
      padding: 10px; /* Réduit le padding de la carte pour mieux s'adapter */
  }

  .col-md-2 {
      max-width: 100%; /* Permet aux colonnes d'adopter une largeur flexible */
  }
}

/*********************************************** Section public cible *******************************************************************/

.public{
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-size: 45px;
  font-style: italic;
  color: black;
}






























    