*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.romance_main{
    background-color: rgba(255, 255, 255, 0.5);
}
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.swiper-pagination-bullet {
    background: #4f46e5;
}
.romance_margin{
    margin-top: 10rem;
}
.romance_textemp{
max-width: 50%;
}
.comedie_bgMP{
    background-color: darkgoldenrod;
}
.comedie_MP{
color: rosybrown;
}
.romance_bgMP{
    background-color: darkgoldenrod;
   color: rosybrown;
}
.horreur_bgMP{
    background-color: darkgoldenrod;
color: rosybrown;
}
.action_bgMP{
    background-color: darkgoldenrod;
 color: rosybrown;
}
.fantastique_bgMP{

 color: rosybrown;
}
.animation_bgMP{

    background-color: darkgoldenrod;
}